<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="d-flex flex-row bg-dark" style="height:100vh;">
        <div style="width: 30%; height: 100%" class="mx-2">
            <h2 class="text-white">Online Users</h2>
            <div id="users">
            </div>
            <h2 class="text-white">Groups</h2>
            <ul class="d-flex flex-column align-items-center px-0 gap-2">
                <li style="width: 70%;" class="btn btn-success" onclick="joinRoom('devops', 'devops', 'group')">Devops</li>
                <li style="width: 70%;" class="btn btn-success" onclick="joinRoom('cloud_computing', 'cloud_computing', 'group')">Cloud Computing</li>
                <li style="width: 70%;" class="btn btn-success" onclick="joinRoom('covid19', 'covid19', 'group')">Covid19</li>
                <li style="width: 70%;" class="btn btn-success" onclick="joinRoom('sports', 'sports', 'group')">Sports</li>
                <li style="width: 70%;" class="btn btn-success" onclick="joinRoom('nodejs', 'nodejs', 'group')">NodeJS</li>
            </ul>
            <button class="btn btn-error" onclick="logout()">Log out</button>
        </div>
        <div class="d-flex flex-column" style="width: 70%; height: 100%">
            <div class="header">
                <h2 id="chatTitle" class="text-white">Enter a Room</h2>
            </div>
            <div class="messages bg-light rounded p-1">
                <div id="messageList" class="d-flex flex-column">
                    <p>No Messages</p>
                </div>
            </div>
            <p id="user_typing" class="text-white"></p>
            <div id="input-bar">
                <input onchange="handleChange()" class="form-control" type="text" id="userInput" placeholder="Enter a message">
                <button onclick="sendMessage()" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
    <script>
        // div to show online users
        const users = document.getElementById("users");
        const client = io();
        // storing logged in user in memory
        const currentUser = {
            userId: localStorage.getItem("labtest01_token"),
            username: localStorage.getItem("labtest01_username")
        };

        // storing information of room that user is in
        let chatState = {
            type: null,
            to: null,
            roomName: null,
            messages: []
        };

        // functionality for "User is typing..."
        function handleChange() {
            if (chatState.type == "private") {
                console.log("value is changing...");
                client.emit("user_typing", {
                    username: currentUser.username,
                    roomName: chatState.roomName
                });
            }
        }

        // functionality to join room. cannot join same room twice
        function joinRoom(roomName, to, type) {
            if (roomName != chatState.roomName) {
                client.emit("join_room", {roomName, to, type});
            }
        }

        // functionality to log out, emits custom event, clears session, redirects to login
        function logout() {
            client.emit('logout', currentUser.clientId);
            client.close();
            localStorage.removeItem("labtest01_token");
            localStorage.removeItem("labtest01_username");
            window.location.replace("http://localhost:3000/login");
        }

        // initialize connection, use custom login event
        client.on('connect', (data) => {
            currentUser.clientId = client.id;
            console.log("Connected to server");
            client.emit("login", currentUser);
        })

        // dynamically update list of online users
        client.on("update_clients", (data) => {
            updateUsers(data);
        })
        
        // update state after joining room
        // dynamically update messages
        client.on("joined_room", (data) => {
            chatState.type = data.type,
            chatState.to = data.to,
            chatState.roomName = data.roomName;
            chatState.messages = data.messages;
            updateMessages(chatState.messages);
            document.getElementById("chatTitle").innerHTML = chatState.roomName;
            if (chatState.type == "private") {
                client.on("user_typing", (username) => {
                    document.getElementById("user_typing").innerHTML = username + " is typing...";
                })
            }
        })

        // trigger rerender of messages
        client.on("new_message", (data) => {
            chatState.messages.push(data);
            updateMessages(data);
        });

        // function to dynamically rerender messages
        function updateMessages(data) {
            let messageList = document.getElementById("messageList");
            if (chatState.messages.length == 0) {
                messageList.innerHTML = "No messages found";
                return;
            }
            let messageHTML = chatState.messages.map(m => {
                let classes = `${m.from_user == currentUser.username ? "align-items-end" : "align-items-start"} d-flex flex-column`
                s = `<div class="${classes}">`;
                s += `<p class="font-weight-light">${m.from_user}</p>`;
                s += `<p class="text-white ${m.from_user == currentUser.username ? "bg-secondary" : "bg-info"} rounded p-1">${m.message}</p>`;
                s += "</div>"
                return s;
            });
            messageList.innerHTML = messageHTML.join(" ");
        }

        // function to dynamically rerender list of online users
        function updateUsers(data) {
            let userComponents = data.map(u => {
                if (u.username != currentUser.username) {
                    let roomName = [currentUser.username, u.username].sort().join("_");
                    let to = u.username;
                    let classes = "d-flex justify-content-center align-items-center btn btn-primary w-50 py-1"
                    s = `<div onclick="joinRoom('${roomName}', '${to}', 'private')" class="${classes}">`;
                    s += `<p>${u.username}</p>`;
                    s += "</div>";
                    return s;
                }
                return "";
            });
            document.getElementById("users").innerHTML = userComponents.join(" ");
        }

        // function to emit new message request to server
        function sendMessage() {
            let message = document.getElementById("userInput").value;
            if (chatState.type && chatState.roomName && chatState.to) {
                client.emit("new_message", {
                    message: message,
                    type: chatState.type,
                    from_user: currentUser.username,
                    roomName: chatState.roomName,
                    to: chatState.to
                });
                console.log("sent message from client");
            }
                else {
                    console.log("chat state not set");
                }
            }
    </script>
</body>
</html>